<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>Ex104_ImplicitObjects</display-name>
	
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- The below init param is to see the example of "config" which is one of the implicit object -->
	<servlet>
		<servlet-name>configdemo</servlet-name>
		<jsp-file>/examples/config/configdemo.jsp</jsp-file>
		<init-param>
			<param-name>test</param-name>
			<param-value>Value from Servlet Config</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>configdemo</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- The below context param is to see the example of "application" which is one of the implicit object -->
	<context-param>  
		<param-name>dbname</param-name>  
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
	</context-param>
	
	
	<error-page>
		<error-code>404</error-code>
		<location>/examples/exception/error404.jsp</location>
	</error-page>
	
	
</web-app>